@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Pathway Extreme, sans-serif;
    color: #FFF;
}

/* Navigation Bar */
header {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    padding: 20px 115px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(70px);
}

.logo {
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
}

nav a {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;
}

nav a:hover,
nav a.active {    
    border-bottom: 2px solid rgb(255, 255, 255);    
}

section {
    background: #030712;    
}

section:nth-child(odd) {
    background: #111827;
}
/* Navigation Bar End */

/* Section About */
#About .home .name .title {
    font-size: 60px;
    font-weight: 700;
    margin: 126px 0px 0px 0px;
}

#About .home .name .sub-title {
    font-size: 16px;
    font-weight: 200;
}

#About .icon ul {
    gap: 60px;
}

#About .icon ul li {
    list-style: none;
    text-decoration: none;
    margin-left: -30px;    
}

.bi-circle-fill {
    color: rgb(2, 255, 78);    
}

#About .profile img{
    width: 280px;
    height: 320px;
    object-fit: cover;
    margin: 130px 0px 0px 0px;
    float: right;
    border-radius: 12px;    
}

#About .about .title, #Skill .skill .title, #Experience .experience .title, #Work .work .title, #Testimonial .testimonial .title {
    background-color: #374151;
    color: #FFF;
    margin: 96px 0px 50px 0px;
    font-size: 14px;
    font-weight: 300;
    width: 125px;
    height: 29px;
    border-radius: 12px;    
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

#About .profile-two img {
    width: 400px;
    height: 480px;
    object-fit: cover;
    border-radius: 12px;
}

#About .aboutMe {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
}

#About .description {
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
}
/* Section About End */

/* Section Skill*/
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 48px 0;    
    white-space: nowrap;
    position: relative;    
}

.logos::before, .logos::after {
    position: absolute;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;    
}

.logos:after {
    right: 0;    
}

.logos-slide {
    display: inline-block;
    animation: 70s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}

@keyframes slide-two {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.logos-two {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}

.logos-two::before, .logos-two::after {
    position: absolute;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-two:after {
    left: 0;    
}

.logos-two:before {
    right: 0;    
}

.logos-slide-two {
    display: inline-block;
    animation: 50s slide-two infinite linear;
}

.logos-slide-two img {
    height: 50px;
    margin: 0 40px;
}
/* Section Skill End*/

/* Section Experience */
#Experience .card {
    width: 896px;
    height: 288px;
    background-color: #1F2937;
}
/* Section Experience End */

/* Section Work */
#Work .card {    
    background: transparent;
}

#Work .card .row .card-left {
    background-color: #374151;
    width: 576px;
    height: 480px;
}

#Work .card .row .card-right {
    background-color: #1F2937;
    width: 576px;
    height: 480px;
}
/* Section Work End */

/* Section Testimonials */
#Testimonial {
    
}
/* Section Testimonials End */

#Contact {
    height: 100vh;
}

@media (max-width: 767px) {
    /* Navigation Bar */
    header {        
        padding: 20px 10px;                
    }

    .logo {
        font-size: 18px;        
    }

    nav a {
        font-size: 12px;                
        margin-left: 5px;        
    }       
    /* Navigation Bar End */
    
    /* Section About */    
    #About .home .name .title {
        font-size:24px;        
        margin: 80px 0px 0px 0px;
    }

    #About .home .name .sub-title {
        font-size: 10px;        
    }

    #About .icon ul {
        gap: 40px;
    }    

    #About .bi, #About .home span {
        font-size: 12px;
    }

    #About .profile img {
        margin: 0px;
        width: 220px;
        height: 230px;          
    }

    #About .profile-two {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 68px 0px;
    }

    #About .profile-two img {
        width: 280px;
        height: 360px;        
    }

    #About .aboutMe {
        font-size: 22px;
    }

    #About .description {
        font-size: 12px;
    }
    /* Section About End */

    /* Section Skill */
    .logos {
        overflow: hidden;
        padding: 15px 0;    
        white-space: nowrap;
        position: relative;    
    }

    .logos-two {
        overflow: hidden;
        padding: 15px 0;    
        white-space: nowrap;
        position: relative;    
    }
    #Skill .logos .logos-slide img, .logos-two .logos-slide-two img{
        width: 40px;
        height: 40px;
    }
    /* Section Skill End */

    /* Section Work*/
    #Work .card .card-left img {
        width: 279px;
        height: 192px;
    }
    /* Section Work End*/
}