.navbar {
    background-color: #0F0F0F;    
    display: flex;
    justify-content: center;
    align-items: center;        
}

.navbar .title {
    color: #FFF;
}

.navbar-list {
    display: flex;
    color: #FFF;
    list-style: none;
    gap: 20px;
}




